/* ============================Notes ==============================================*/
/* couleurs :
  : #beddd5;
  : #43aac9;
  : #065153;
  couleur de la navbar principale : #355329;

/* =====================================Fonts ======================================*/
@font-face {
  font-family: "Myrlissa";
  src: url("Myrlissa.otf");
}
@font-face {
  font-family: "Shine Brighter";
  src: url("Shine Brighter.otf");
  src: url("Shine Brighter.ttf");
}

/* Index */

/*=========================================header=====================================*/

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

header h3 {
  font-family: "Myrlissa";
  /* color: #ee0a0a; */
  font-size: 100px;
  /* margin-bottom: 0px; */

}

/* .carousel-caption .poucentagePromo{
  color: #af1818; 
} */

header .carousel-caption a,
#commander a.btn {
  color: #beddd5;
  background-color: #43aac9;
  margin-bottom: 1rem;
}

header .carousel-caption a:hover,
header .carousel-caption a:focus,
header .carousel-caption a:active,
#commander a.btn:hover,
#commander a.btn:focus,
#commander a.btn:active {
  /* background-color:#301705; */
  color: #fff;
}

.logo-img {
  height: 2.5rem;
  /* position: absolute; */
  /* margin: 0rem 40rem; */
  margin-right: 0.5rem;
  border-radius: 15rem;
  background-color: #fff;
}

#categorie .dropdown>a{
  color:#000;
  font-size: large;
  font-weight: bolder;
}

#categorie .lienCatalogue{
  color: #065153;
  font-size: large;
  font-weight: bolder;
}
.navbar-choco {
  background-color: #355329;
  /* opacity: 0.9; */
}
.fa-shopping-bag {
  color: #fff;
  margin-right: 1rem;
}
.log-link,
.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 1.5rem;
}

#navbarColor01 .nav-link:hover{
  color:#fff3da;
}
.nav-item.active {
  font-weight: bolder;
}


/*=====================================body=========================================*/

.jumbotron > h1 {
  color: #000;
  font-family: "Cookie", "cursive";
  font-size: 2.3rem;
  text-align: center;
}

#presentation .jumbotron {
  background-color: #fff3da;
  margin-bottom: 0;
  text-align: justify;
  /* margin-top: 5rem; */
}

.index-card-img {
  /* max-height: 22rem; */
  width: 19.9rem;
  height: 14rem;
}

#presentation {
  padding: 50px 0;
  /* background-color: #532603; */
  opacity: 0.9;
}
#presentation .news{
  color:#c97d43;
  justify-content: center;
  margin: auto;
  font-style: italic;
  font-size: 25px;
}

#presentation #newsBlock {
  margin-bottom: 30px;
}

#presentation .img-news-block{
  text-align:left;
}

#presentation .img-news-block.first{
  text-align: right;
}
#presentation .img-news-container{
  position:relative;
  width: 60px;
  height: 100px;
  display:inline-block;
}
#presentation .img-news{
  position:absolute;
  top: -115px;
  font-size: 150px;
  top: -62px;
    right: 14px;
  font-family: "myrlissa";
  }
#presentation .newsText{
  text-align: center;
  margin-bottom: 0;
}

#presentation img{
  border-radius: 50%;
  padding: 1rem;
}

#presentation a:hover {
  color: #c97d43;
}

#presentation .presentation-text {
  padding: 3rem 3rem 3rem 3rem;
}

#presentation-card-block.card {
  border: none;
  border-radius: 0;
}

#alergic-list_block {
  border-radius: 0px;
}
#alergic-list_block img {
  width: 100%;
  height: 100%;
}
#index-card,
#index-card img {
  background-color: #fff;;
}
#index-card {
  color: #fff;
}

.card-footer li {
  list-style: none;
}

/* ===============================Commander ====================================*/

#commander {
  padding: 100px 0;
  background-color: #fff3da;
}

#commander .text {
  padding: 1rem;
  text-align: justify;
}

#commander a {
  font-weight: bold;
  color: #fff;
}

#commander .btn-container {
  margin-top: 50px;
}

#commander h5 {
  color: #fff;
  font-weight: bolder;
}
#commander h1 {
  color: #065153;;
  font-family: "Redressed", "cursive";
  margin-bottom: 50px;
}
#commander .img-container{
  padding-bottom: 2rem;
}

#catalogue .card{
  margin: 20px;
  background-color: #065153;;
  color: #fff;
}
#catalogue h1{
  font-family: "Cookie", "cursive";
  font-size: 50px;
}
#catalogue h2{
  color: #fff;
  padding: 5rem 2rem 1.5rem 2rem;
  font-family: "Shine Brighter";
  font-style: italic;
  text-decoration: underline;
  font-size: 60px;
}
#catalogue h5{
  color: #fff3da;
}
#catalogue .card-footer .btn {
  color: #065153;;
  background-color: #fff3da;
  align-content: center;
}
#catalogue .card-footer .btn:hover {
  color: #065153;;
  background-color: #eeb97c;
}

#catalogue{
  padding: 5rem 2rem;
  background-color: #fff;
}

#plus-d-information {
  text-align: center;
  padding: 20px 0;
  margin-top: 2rem;
  background-color: #f8f9fa;
}

#quiSommesNous{
  background-color: #fff;
  padding: 5rem;
}
#quiSommesNous h1 {
  padding-bottom: 3rem;
  font-family: "Cookie", cursive;
}

#quiSommesNous .biographie{
  /* text-align: center; */
  font-size: 20px;
  font-family: "Cookie", cursive;
  font-style: italic;
  opacity: 0.99;
  text-align: justify;
  padding: 3rem;
}

.lettrine{
  float: left; 
  /* text-shadow:3px 3px 3px #c97d43;   */
  color: #c97d43;
  font-size: 4em;  
  line-height: 80%; 
  margin:-.1em 0px;
  padding-right: .1em
  }
  .mymaLettrine, .orange-gras{
    color: #c97d43;
    font-weight: bolder;
  }

#contact{
  padding: 5rem;
  text-align: center;
  /* background-color: #fff; */
}

#contact .card{
  border: 0;
}

#contact h1{
  padding-bottom: 2rem;
  font-family: "Cookie", cursive;
}

#contact h5{
  color:#777;
  font-weight: bolder;
}
#contact i,
#commandePage .contact i{
  color: #c97d43;
  font-size: 70px;
  font-weight: bolder;
  padding: 2rem;
}
#commandePage h1, 
#shoppingValidation h1
{
  font-family: "Cookie", cursive;
  padding: 5rem 0 0 3rem;
}

#commandePage .contact{
  margin-top: 2rem;
}

#commandePage .btn-outline-success{
  color: #c97d43;
  border: 1px solid #c97d43;
}
#commandePage .btn-outline-success:hover{
  background-color: #fff3da;
  color: #c97d43;
}

#contact a,
#commandePage .contact a{
  color: #c97d43;
  font-weight: bold;
}

#commandePage{
  /* padding: 0rem; */
  text-align: center;
  background-color: #fff;
}

#commandePage .article .price{
  color:#c97d43;
  font-weight: bold;
}
#commandePage .article p{
font-size: small;
}

#commandePage .article{
width: 19.99rem;
margin: 4rem 4rem;
box-shadow: -2px 2px 5px #e0dede;
}

#commandePage .article:hover{
  transform: scale(1.02, 1.02);
  box-shadow: -5px 5px 4px #e0dede;
  
}

#commandePage .article img{
width: 19.9rem;
height: 14rem;
}

/* =====================================panier===================================== */
#shoppingValidation h1{
 padding-top: 5rem;
}

#shoppingValidation_content .card{
  flex-direction: row;
  justify-content: space-between;
  padding-right: 7.5rem;
  padding-left: 0;
}
#shoppingValidation_content .card-header{
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: bolder;
}

#shoppingValidation_content{
margin: auto 5rem;
}

.shoppingValidation_productName img{
  max-width: 100px; 
  height:80px;
  padding: 0.5rem;
}

#productRow{
  align-items: center;
}
#productRow a{
  color: #c22929;
}

#validateCommande_modal .modal-content{
  width: 50rem;
}

#validateCommande_modal .modal-body{
  padding: 1rem 3rem;
}

#validateCommande_form .saveArticleBtn{
    background-color: #087275;
    font-size: small;
    font-weight: bold;
    color: #FFF;
    width: 5.5rem;
    border: 0;    
}
#validateCommande_form .saveArticleBtn:hover{
    background-color: #08575a;
    font-size: small;
    font-weight: bold;
    color: #FFF;
}

#validateCommande_form .goBackBtn{
  background-color: #008CBA;
  color: #fff;
  font-size: small;
  font-weight: bold;
  width: 5.5rem;
  border: 0;    
}
#validateCommande_form .goBackBtn:hover{
  background-color: #0b789c;
}

#shoppingValidation .validateCommande_Btn{
background-color:#087275;
color: #fff;
font-size: large;
max-width: 160px;
margin-right: 6rem;
/* float: right; */
/* margin:auto 0rem auto 78.5rem; */
}

#shoppingValidation .validateCommande_Btn:hover{
background-color: #065153;
}

#shoppingValidation .commandePrice{
  /* margin:auto 10rem auto 55.5rem; */
  margin-left: 55rem;
}
#shoppingValidation .commandePrice>span{
 font-size: larger;
 color: #c97d43;
 font-weight: bold;
}

#shoppingValidation h2{
  font-family: "Cookie", cursive;
  padding: 1rem 0 0 0rem;
}

/* =================================footer ========================================*/
.footerBlock,
.footerBlock a{
  color: #fff3da;
  background-color: #355329;
  text-align: center;
  height: 9rem;
  padding-top: 1.5rem;
}

.footerBlock a:hover{
  color:#eeb97c;
}

.commandeContent{
  /* background-color: #fff3da; */
  justify-content: center;
}

#goTopIcone {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  /* z-index: 99; */
  font-size: 3rem;
  border: none;
  outline: none;
  color: #c97d43;
  cursor: pointer;
  border-radius: 10rem;
}


/* ==============================formulaire de contacte=================================== */
 .errorMessage{
   visibility: hidden;
 /* position: relative; */
  margin: auto;
  padding:auto;
  /* font-size: large; */
  /* color: #da2d2d; */
}
 #feedBackMessage-failed{
 position: relative;
  /* margin: auto; */
  padding:1.25rem;
  height: 70px;
  font-size: large;
  background-color: #f0b2b2;
  color: #c22929;
}
#feedBackMessage-success{
 position: relative;
  /* margin: auto; */
  padding:1.25rem;
  height: 70px;
  font-size: large;
  background-color: #aef5d4;
  color: rgb(13, 107, 60);
}

label{
  color: #065153;;
  font-weight: bolder;
  font-size: 17px;
}
.infoChampObligatoir{
  color: #c97d43;
}
#contact .form_contact{
  background-color:#f8f9fa;
  justify-content: center;
  /* padding-top: 0rem; */
}

.form_contact p{
  font-size: 20px;
  font-family: "Cookie", "cursive";
  font-style: italic;
  opacity: 0.99;
  text-align: justify;
  padding: 3rem 3rem 3rem 0rem;
}
#contact h2{
  color: #c97d43;
  font-family: "Myrlissa";
  font-size: 80px;
}
#contact strong{
  color: #c97d43;
}

#boutonEnvoyer input{
  width: 10rem;
  margin: 1rem 5rem 1rem 15rem;
}

#googleMap{
  height: 22rem;
  margin: auto;
}

form .butonSubmit {
    color: #fff;
    background-color: #065153;;
  }
form .butonSubmit:hover {
    color: #fff3da;
    background-color: #301705;
  }

.labelRequierStar{
  color: #c97d43;
}


#recaptcha .g-recaptcha{
margin:1rem auto ;

}
/* #recaptcha{
  align-content: center;
} */